addict==2.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.9
fairscale==0.4.13
filelock==3.13.3
fonttools==4.50.0
fsspec==2024.3.1
huggingface-hub==0.22.1
# idna==3.6
# importlib_metadata==7.1.0
# importlib_resources==6.4.0
# kiwisolver==1.4.5
matplotlib==3.8.3
mmcv==1.4.0
# mmcv-full==1.4.0
numpy==1.26.4
opencv-python~=4.8.1.78
packaging==24.0
pillow>=7.1.2
platformdirs==4.2.0
pycocotools==2.0.7
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
safetensors==0.4.2
six==1.16.0
terminaltables==3.1.10
timm==0.9.16
tomli==2.0.1
torch==1.11.0
torchvision==0.12.0
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.2.1
yapf==0.40.2
zipp==3.18.1
