addict==2.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.9
matplotlib==3.8.3
mmcv==1.4.0
numpy==1.26.4
packaging==24.0
platformdirs==4.2.0
pycocotools==2.0.7
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
safetensors==0.4.2
six==1.16.0
terminaltables==3.1.10
timm==0.9.16
tomli==2.0.1
tqdm==4.66.2
typing_extensions==4.10.0
yapf==0.40.2
zipp==3.18.1
